<ol>
    <li>
        <article>
            <div>
                <p>{{title}}</p>
                <span>{{user}}</span>
            </div>
            <div>
                <p>{{Comments}}</p>
            </div>
        </article>
    </li>
</ol>